@page "/add-liquid"
@using Agas1.Logic.Models
@using Agas1.Logic.Services

@inject DistilleryService Service

@code {
    private int tankId;
    private int selectedLiquidTypeId;
    private List<LiquidType>
    liquidTypes = new List<LiquidType>
        ();
        private double volume;

        protected override async Task OnInitializedAsync()
        {
        liquidTypes = await Service.GetLiquidTypesAsync();
        }

        private async Task AddLiquidToTank()
        {
        await Service.FillTankFromExternalResource(tankId, selectedLiquidTypeId, volume);
        volume = 0;  // Reset the form
        }
        }

        <h3>Add Liquid to Tank</h3>

        <label>Tank ID: </label>
        <input type="number" @bind="tankId" class="form-control" />
        <br />

        <label>Liquid Type: </label>
        <select @bind="selectedLiquidTypeId" class="form-select">
            @foreach (var type in liquidTypes)
            {
                <option value="@type.Id">@type.Name</option>
            }
        </select>
        <br />

        <label>Volume: </label>
        <input type="number" @bind="volume" class="form-control" />
        <br />

        <button @onclick="AddLiquidToTank" class="btn btn-primary">Add Liquid</button>
