@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>
 

@code {
    private string message = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        var userName = user.Identity.IsAuthenticated ? user.Identity.Name : "Guest";

        message = $"Welcome, {userName}!";
    }
}

<h1>@message</h1>
 
