@inherits LayoutComponentBase

<!-- Top Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand ms-3" href="/">Agas1 Admin Panel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- Additional top navigation links can go here if needed -->
        </ul>
    </div>
</nav>

<!-- Layout with Sidebar and Main Content -->
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar / Left Navigation Menu -->
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/add-tank">
                            <i class="bi bi-plus-circle"></i> Add Tank
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manage-liquid-types">
                            <i class="bi bi-droplet-half"></i> Manage Liquid Types
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add-liquid">
                            <i class="bi bi-droplet"></i> Add Liquid to Tank
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/transfer-liquid">
                            <i class="bi bi-arrow-left-right"></i> Transfer Liquid
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tank-history">
                            <i class="bi bi-clock-history"></i> Tank History
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tanks-report">
                            <i class="bi bi-bar-chart"></i> Tank Report
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main Content Area -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            @Body
        </main>
    </div>
</div>
